<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Page title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <div class="bigtitle">
        <h1>Bootstrap test</h1>
        <p>
            Test <i class="fa fa-spinner fa-spin"></i> Test
        </p>
    </div>
    <div class="angulartest">
        <input type="text" placeholder="add text" ng-model="anginput">
        <p>Angular test: <span ng-bind="anginput"></span></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
</body>
</html>